<div class="container justify-content-center text-center pb-5">
    <div class="pt-5 h3">
      <% if current_user.picture_url.present? %>
        <div class="mb-3"><%= image_tag @user.picture_url, class: 'rounded-circle', size: '80x80' %></div>
      <% else %>
        <div class="mb-3"><%= image_tag 'user-icon.png', class: 'rounded-circle', size: '80x80' %></div>
      <% end %>
    <div class="h1"><%= @user.name %></div>
    <div class="h4 mt-5">累計金額</div>
    <div class="h1" style="color: blue;"><%= @payment_amount.round.to_s(:delimited) %>円</div>
  </div>

  
  <div class="my-5">
    <div class="row justify-content-center">
      <div class="h5">過去の割り勘</div>
      <div class="col-10 border border-success">
    </div>
  </div>

  <div class="my-5">
    <% if @finished_events.present? %>
      <% @finished_events.each do |event| %>
        <div class="card row mb-5 col-10 mx-auto border-success border-3">
          <%= link_to event_rooms_path(event), class: 'event-link' do %>
            <div class="card-body flex">
              <div class="h4 mt-1"><%= event.title %></div>
              <div><i class="fa-solid fa-coins"></i> <%= event.rooms.find_by(user_id: @user).payment.round.to_s(:delimited) %>円</div>
              <div><%= event.created_at.strftime('%m/%d %H:%M')%></div>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= paginate @finished_events %>
    <% else %>
      <div>イベントがありません</div>
    <% end %>
  </div>
</div>

