<header>
  <nav class="navbar navbar-expand-lg bg-dark fixed-top">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "warigam_header.png", size: '130x40'%>
      <% end %>

      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="レスポンシブ・ナビゲーションバー">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="Navber">
        <ul class="navbar-nav mr-auto mb-md-0">
          <li class="nav-item my-auto mx-2">
            <%= link_to events_path, class: "nav-link text-white" do %>
              <i class="fa-solid fa-rectangle-list"></i> 一覧
            <% end %>
          </li>
          <li class="nav-item my-auto mx-2">
            <%= link_to new_event_path, class: "nav-link text-white" do %>
              <i class="fa-solid fa-people-group"></i> 作成
            <% end %>
          </li>
          <li class="nav-item my-auto mx-2">
            <%= link_to tutorial_path, class: "nav-link text-white" do %>
              <i class="fa-solid fa-book-open"></i> 使い方
            <% end %>
          </li>

          <% if user_signed_in? %>
          <li class="nav-item my-auto mx-2">
            <%= link_to user_path(current_user), class: "nav-link text-white" do %>
              <i class="fa-solid fa-user"></i> マイページ
            <% end %>
          </li>
            <li class="nav-item my-auto mx-2">
              <%= link_to logout_path, class: "nav-link text-white", method: :delete do %>
                <i class="fa-solid fa-right-from-bracket"></i> ログアウト
              <% end %>
            </li>
          <% else %>
            <li class="nav-item my-auto mx-2">
              <%= link_to 'ログイン', user_line_omniauth_authorize_path, class: "nav-link text-white", method: :post %>
            </li>
          <% end %>
        </ul>

      </div>
    </div>
  </nav>
</header>
