<header>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "warigam_header.png", size: '130x40'%>
      <% end %>

      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="レスポンシブ・ナビゲーションバー">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="Navber">
        <ul class="navbar-nav mr-auto mb-md-0">
          <li class="nav-item my-auto mx-2">
            <%= link_to 'イベント一覧', events_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item my-auto mx-2">
            <%= link_to 'イベント作成', new_event_path, class: "nav-link text-white" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item my-auto mx-2">
              <%= link_to 'ログアウト', destroy_user_session_path, class: "nav-link text-white", method: :delete %>
            </li>
          <% else %>
            <li class="nav-item my-auto mx-2">
              <%= link_to 'ログイン', user_line_omniauth_authorize_path, class: "nav-link text-white", method: :post %>
            </li>
          <% end %>
        </ul>

      </div>
    </div>
  </nav>
</header>
