<div class="container justify-content-center text-center">
  <div class="mt-5 mb-3">
    <div class="h2">使い方</div>
    <div class="row justify-content-center">
      <div class="col-10 border border-success">
      </div>
    </div>
  </div>
  
  <div class="p-2 pb-5" style="background-color: #BDF2D5;">
    <div class="mt-5">
      <div class="h4">イベントを作成する</div>
      <div class="mb-2"><%= image_tag 'create-event.png', size: '240x400'%></div>
      <div>食事・買い物の際に、お楽しみください。</div>
      <div>※ 作成から1時間後に削除されます。</div>
    </div>
    
    <div class="mt-5">
      <div class="h4">招待する</div>
      <div class="mb-2"><%= image_tag 'show-before.png', size: '240x400'%></div>
      <div>QRコード or LINEで招待できます。</div>
      <div>※ ログイン後、招待リンクから参加可能。</div>
    </div>

    <div class="mt-5">
      <div class="h4">ルームへ入室</div>
      <div class="mb-2"><%= image_tag 'show-after.png', size: '240x400'%></div>
      <div>参加者が集まったらルームに入室しよう！</div>
    </div>

    <div class="mt-5">
      <div class="h4">スタート</div>
      <div class="mb-2"><%= image_tag 'room.png', size: '240x400'%></div>
      <div>指定モードの割り勘が始まるぞ！</div>
    </div>
  </div>

  <div class="py-5">
    <% if user_signed_in? %>
      <div>
        <%= link_to 'イベント一覧', events_path %>
      </div>
    <% else %>
      <div class="py-3">
        <%= link_to image_tag("btn_login_base.png"), user_line_omniauth_authorize_path, method: :post %>
      </div>
      <div>
        <%= link_to '戻る', events_path %>
      </div>
    <% end %>
  </div>
</div>
