<div class="container justify-content-center text-center">
  <% if @events.empty? %>
    <div class="row">
      <div class="no-event">
        <%= link_to new_event_path do %>
          <div class="btn btn-primary">イベントを作成する</div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="mb-3 mt-4">
        <%= link_to new_event_path do %>
          <div class="btn btn-primary">イベントを作成する</div>
        <% end %>
      </div>
    </div>
    <% @events.each do |event| %>
      <% if event.counts.zero? %>
        <div class="card row mb-5 col-10 mx-auto">
          <%= link_to event_path(event), class: 'event-link' do %>
            <div class="card-body flex">
              <div class="h4 mt-1"><%= event.title %></div>
              <div><%= event.created_at.strftime('%m/%d %H:%M')%></div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="card row mb-5 col-10 mx-auto">
          <div class="bg-event">
            <%= link_to event_rooms_path(event), class: 'event-link' do %>
              <div class="card-body flex">
                <div class="h4 mt-1"><%= event.title %></div>
                <div><%= event.created_at.strftime('%m/%d %H:%M')%></div>
                <div class="row">
                  <div class="col-12">
                    終了しました
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
