<div class="container justify-content-center text-center">
  <% if @events.empty? %>
    <div class="row">
      <div class="no-event">
        <%= link_to new_event_path do %>
          <div class="btn btn-primary">イベントを作成する</div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="mb-3 mt-4">
        <%= link_to new_event_path do %>
          <div class="btn btn-primary">イベントを作成する</div>
        <% end %>
      </div>
    </div>
    <% @events.each do |event| %>
      <div class="card row mb-5 col-10 mx-auto">
        <%= link_to event_path(event), class: 'event-link' do %>
          <div class="card-body flex">
            <div class="mt-2 row">
              <div class="col-4">
                <div class="h5"><%= event.created_at.strftime('%m/%d')%></div>
                <div class="h5"><%= event.created_at.strftime(' %H:%M')%></div>
              </div>
              <div class="col-8">
                <div class="h4"><%= event.title %></div>
                <div class="h5"><i class="fa-solid fa-coins"></i> <%= event.gamble.total_amount %>円</div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
