<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @event.mode_i18n %>
</p>

<p>
  <strong>参加ユーザー</strong>
  <% @joined_users.each do |joined_user| %>
    <div><%= joined_user.name %></div>
  <% end %>
</p>

<% if user_signed_in? && current_user.join?(@event) %>
  <%= link_to event_join_path(@event), method: :delete, data: { confirm: '参加をキャンセルしてもよろしいですか？' } do %>
    <div class="btn btn-danger">参加キャンセル</div>
  <% end %>
<% else %>
  <%= link_to event_join_path(@event), method: :post do %>
    <div class="btn btn-primary">参加</div>
  <% end %>
<% end %>

<% if created_by?(current_user) %>
  <div>
    <%= qrcode.html_safe %>
  </div>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
